@use '../../styles/variables' as v;

.forecast-container {
  position: relative;
}

.current-day-container {
  background-color: v.$c-grayOpacity;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.upcoming-days-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: v.$c-grayOpacity;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
