// ****************
// FONTS
// ****************
$f-primary: 'Rubik', sans-serif;
$f-secundary: 'Karla', sans-serif;

$f-base-size: 16px;

$f-weight: (
  'light': 300,
  'medium': 500,
  'bold': 700
);

$c-primary: #232c33;
$c-secundary: #dadff7;
$c-gray: #b5b2c2;
$c-blue: #5086ec;
