// ****************
// FONTS
// ****************
$f-primary: 'Rubik', sans-serif;
$f-secundary: 'Karla', sans-serif;

$f-base-size: 16px;

$f-weight: (
  'light': 300,
  'medium': 500,
  'bold': 700
);
