// ****************
// FONTS
// ****************
$f-primary: 'Rubik', sans-serif;
$f-secundary: 'Karla', sans-serif;

$f-base-size: 16px;

$f-weight: (
  'light': 300,
  'medium': 500,
  'bold': 700
);

$c-primary: #1f1f1f;
$c-secundary: #dadff7;
$c-gray: #333;
$c-grayOpacity: #2929294f;
$c-lightBlue: #b6ccf7;
$c-blue: #3574e9;
$c-darkBlue: #144eb8;
$c-lightGray: #89898a;
$c-darkGray: #141414;
