@use './../styles/variables' as v;

.main-container {
  width: 40rem;
  height: 18rem;
  padding: 3rem;

  background-color: v.$c-gray;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.089);

  &--weather {
    padding: 1rem;
  }
}
