@use './styles/variables' as v;

.App {
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right bottom, v.$c-primary 30%, v.$c-gray 90%);
}
